body {
    font-family: 'Philosopher', sans-serif;
    font-size: 1.2em;
}


.back-to-top {
    color: #3b8509;
}

img {
    max-width: 100%;
}

article h1 {
     color: #3b8509;
     text-align: center;
}


.form-container {
    background: #b0ff7f;
}

legend {
    font-size: 1.2em;
}

input,
textarea {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    min-width: 100%;
    }

input[type="radio"] {
    min-width: 1rem;
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    outline: none;
    background: #3b8509;
    color: #ffffff;
}
